<div class="container is-fullhd">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered" style="font-size: 60px">
        Typing Game
      </h1>

      <span
        class="has-text-centered"
        [class]="compare(letter, enteredText[i])"
        *ngFor="let letter of randomSentence.split(''); let i = index"
        >{{ letter }}</span
      >

      <div class="field">
        <input
          class="input"
          type="text"
          name="inputField"
          #box
          placeholder="Enter your text"
          (input)="onKey(box.value)"
        />
      </div>
      <div *ngIf="randomSentence === enteredText" class="box has-text-centered">
        <h2 class="title">Success!</h2>
        <button (click)="refresh()" class="button is-danger is-light">
          Restart
        </button>
      </div>
    </div>
  </div>
</div>
